/* ---------- RESET ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- PAGE ---------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    background:
    radial-gradient(
        circle at top,
        #2d3f63 0%,
        #1c2541 30%,
        #121826 65%,
        #090b10 100%
    );
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* ---------- APP ---------- */
#app {
    width: 100%;
    max-width: 700px;
}

/* ---------- SCREEN ---------- */
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- CARD ---------- */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 24px;
    padding: 3rem;
    text-align: center;
    backdrop-filter: blur(12px);
    width: 100%;
}

/* ---------- TEXT ---------- */
.popcorn {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.tagline {
    font-size: 1.25rem;
    color: #d4d4d4;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.description {
    max-width:500px;
    text-align:center;
    color: #9ca3af;
    line-height: 1.7;
    margin-bottom: 2.5rem;
}

/* ---------- BUTTON ---------- */
button {
    background: #00c030;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 1rem 2.75rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all .25s ease;
}

button:hover{
    background:#18d24b;
    transform:translateY(-3px) scale(1.03);
    box-shadow:
        0 0 30px rgba(0,192,48,.35);
}
